<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecar.project.station.mapper.PwStationMapper">

	<resultMap id="BaseResultInfo" type="com.ecar.project.station.domain.PwStation">
		<id property="id" column="ID"/>
		<result property="stationName" column="STATION_NAME"/>
		<result property="address" column="ADDRESS"/>
		<result property="lon" column="LON"/>
		<result property="lat" column="LAT"/>
		<result property="mobile" column="MOBILE"/>
		<result property="headman" column="HEADMAN"/>
		<result property="oilProduct" column="OIL_PRODUCT"/>
		<result property="createBy" column="CREATE_BY"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="updateBy" column="UPDATE_BY"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="remark" column="REMARK"/>
	</resultMap>


	<sql id="QueryBaseSql">
        SELECT `ID`, `STATION_NAME`, `ADDRESS`, `LON`, `LAT`, `MOBILE`, `HEADMAN`, `OIL_PRODUCT`,
        		`CREATE_BY`, `CREATE_TIME`, `UPDATE_BY`, `UPDATE_TIME`, `REMARK`
		FROM `pw_station`
    </sql>

    <select id="selectStationList" parameterType="com.ecar.project.station.domain.PwStation" resultMap="BaseResultInfo">
		<include refid="QueryBaseSql"/>
		<where>
			<if test="stationName != null and stationName != ''">
				AND STATION_NAME like concat('%', #{stationName}, '%')
			</if>
			<if test="mobile != null and mobile != ''">
				AND MOBILE = #{mobile}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND CREATE_TIME &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND CREATE_TIME &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
	</select>

	<select id="selectStationInfo" parameterType="String" resultMap="BaseResultInfo">
	    <include refid="QueryBaseSql"/>
		where ID = #{id}
	</select>

	<insert id="insertStation" parameterType="com.ecar.project.station.domain.PwStation">
 		insert into pw_station (
 			<if test="stationName != null and stationName != ''">STATION_NAME,</if>
 			<if test="address != null and address != ''">ADDRESS,</if>
 			<if test="lon != null">LON,</if>
 			<if test="lat != null">LAT,</if>
 			<if test="mobile != null and mobile != ''">MOBILE,</if>
 			<if test="headman != null and headman != ''">HEADMAN,</if>
 			<if test="oilProduct != null and oilProduct != ''">OIL_PRODUCT,</if>
 			<if test="createBy != null">CREATE_BY,</if>
 			<if test="remark != null and remark != ''">remark,</if>
			CREATE_TIME
 		)values(
 			<if test="stationName != null and stationName != ''">#{stationName},</if>
 			<if test="address != null and address != ''">#{address},</if>
 			<if test="lon != null">#{lon},</if>
 			<if test="lat != null">#{lat},</if>
 			<if test="mobile != null and mobile != ''">#{mobile},</if>
 			<if test="headman != null and headman != ''">#{headman},</if>
 			<if test="oilProduct != null and oilProduct != ''">#{oilProduct},</if>
 			<if test="createBy != null">#{createBy},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
 		)
	</insert>

	<update id="updateStation" parameterType="com.ecar.project.station.domain.PwStation">
 		update sys_user
 		<set>
 			<if test="stationName != null and stationName != ''">STATION_NAME = #{stationName},</if>
 			<if test="address != null and address != ''">ADDRESS = #{address},</if>
 			<if test="lon != null">LON = #{lon},</if>
 			<if test="lat != null">LAT = #{lat},</if>
 			<if test="mobile != null and mobile != ''">MOBILE = #{mobile},</if>
 			<if test="headman != null and headman != ''">HEADMAN = #{headman},</if>
 			<if test="oilProduct != null and oilProduct != ''">OIL_PRODUCT = #{oilProduct},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			<if test="remark != null and remark != ''">remark = #{remark},</if>
 			update_time = sysdate()
 		</set>
 		where user_id = #{userId}
	</update>
</mapper>